.title {
	text-transform: uppercase;
	font: bold 32px 'Open Sans', sans-serif;
	font: bold 3.2rem 'Open Sans', sans-serif;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	text-align: center;
}
/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   * These selection rule sets have to be separate.
   * Customize the background color to match your design.
   */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}
body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 150%;
	color: #777;
}
/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
	display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
/**
   * Add the correct margin in IE 8.
   */
figure {
	margin: 1em 40px;
}
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}
/* Text-level semantics
	 ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */
}
/**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */
a:active,
a:hover {
	outline-width: 0;
}
/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
	/* 1 */
	overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
	/* 1 */
	text-transform: none;
}
/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
	overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
/* Animacije */
@-webkit-keyframes fadeIn {
	0% {
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes slideFadeIn {
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes slideFadeIn {
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
   * Allow only vertical resizing of textareas.
   */
textarea {
	resize: vertical;
}
@media only screen and (max-width: 800px) {
	body {
		padding: 0;
	}
}
section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
	padding: 10rem 8rem;
}
@media only screen and (max-width: 800px) {
	section {
		padding: 5rem 2rem;
	}
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: none;
	margin-bottom: 50px;
	margin-bottom: 5rem;
}
section p {
	max-width: 775px;
	max-width: 77.5rem;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 2;
	padding: 0 20px;
	padding: 0 2rem;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	text-align: center;
}
/**
   * Main content containers
   * 1. Make the container full-width with a maximum width
   * 2. Center it in the viewport
   * 3. Leave some space on the edges, especially valuable on small screens
   */
.container {
	max-width: 1180px;
	/* 1 */
	margin-left: auto;
	/* 2 */
	margin-right: auto;
	/* 2 */
	padding-left: 20px;
	/* 3 */
	padding-right: 20px;
	/* 3 */
	width: 100%;
	/* 1 */
}
/* Helper classes */
.h__flex {
	display: flex;
}
.h__flex--column {
	flex-direction: column;
}
.h__flex--space_between {
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.h__flex--space_around {
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.h__flex--center {
	justify-content: center;
	align-items: center;
}
.h__w50 {
	width: 50%;
}
.h__w100 {
	width: 100%;
}
.h__center-text {
	text-align: center !important;
}
.h__text--fz25 {
	font-size: 2.5rem;
}
.h__text--bold {
	font-weight: bold;
}
.h__mb--big {
	margin-bottom: 80px !important;
	margin-bottom: 8rem !important;
}
@media only screen and (max-width: 800px) {
	.h__mb--big {
		margin-bottom: 5rem !important;
	}
}
.h__mb--medium {
	margin-bottom: 40px !important;
	margin-bottom: 4rem !important;
}
@media only screen and (max-width: 800px) {
	.h__mb--medium {
		margin-bottom: 3rem !important;
	}
}
.h__mb--small {
	margin-bottom: 15px !important;
	margin-bottom: 1.5rem !important;
}
.h__mt--big {
	margin-top: 80px !important;
	margin-top: 8rem !important;
}
.h__mt--medium {
	margin-top: 40px !important;
	margin-top: 4rem !important;
}
.h__mt--small {
	margin-top: 15px !important;
	margin-top: 1.5rem !important;
}
.h_txt--small {
	font-size: 1.3rem;
}
/* CSS Grid */
.grid {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.grid li {
	height: 350px;
	height: 35rem;
	padding: 20px;
	padding: 2rem;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
.grid li span {
	width: 100%;
	padding: 1rem 2rem;
	display: inline-block;
	background: rgb(3, 1, 50);
	background: linear-gradient(0deg, rgba(251, 251, 251, 0) 0%, rgba(3, 1, 50, 0.7) 0%);
	color: #fff;
	font-weight: bold;
	font-size: 1.3rem;
}
.grid .small {
	flex-basis: 30%;
}
@media only screen and (max-width: 1100px) {
	.grid .small {
		flex-basis: 50%;
	}
}
@media only screen and (max-width: 800px) {
	.grid .small {
		flex-basis: 100%;
	}
}
.grid .large {
	flex-basis: 70%;
}
@media only screen and (max-width: 1100px) {
	.grid .large {
		flex-basis: 50%;
	}
}
@media only screen and (max-width: 800px) {
	.grid .large {
		flex-basis: 100%;
	}
}
/* Navigacija */
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 2rem 10rem 0;
	opacity: 0;
	animation: fadeIn 1s 0.5s forwards;
	color: #fff;
	z-index: 50;
	position: fixed;
	background: rgb(3, 1, 50);
	background: linear-gradient(0deg, rgba(251, 251, 251, 0) 0%, rgba(3, 1, 50, 0.7) 0%);
}
.navigation nav,
.navigation h2 {
	height: 100%;
}
nav ul {
	list-style: none;
}
nav a {
	text-decoration: none;
	font-size: 2rem;
	transition: all 0.5s;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	opacity: 0.8;
}
nav a:hover {
	opacity: 1;
}
@media only screen and (max-width: 800px) {
	header {
		padding: 2rem 5rem;
		flex-direction: column;
	}
}
header h2 a {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.8rem;
	opacity: 0.8;
}
header h2 a:hover {
	opacity: 1;
}
@media only screen and (max-width: 800px) {
	header h2 {
		padding-bottom: 1.5rem;
	}
}
header nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -15px;
	margin-right: -1.5rem;
}
header li {
	margin: 0 15px;
	margin: 0 1.5rem;
}

.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	opacity: 1;
	padding: 1.8rem 4.2rem;
	letter-spacing: 1px;
	font-size: 1.3rem;
	color: aliceblue;
	width: 220px;
	display: block;
}
.btn-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/* Hero sekcija */
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

@media only screen and (max-width: 800px) {
	.hero {
		min-height: 60rem;
	}
}

.hero__bg-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
	background-image: url('./images/summer_beach.webp');
}

.hero__bg-gradient {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background: rgb(2, 0, 36);
	background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 100%);
}

.hero__content {
	opacity: 0;
	margin-top: 100px;
	margin-top: 10rem;
	animation: 1s slideFadeIn 1s forwards;
}
.hero h1 {
	font: bold 60px 'Open Sans', sans-serif;
	font: bold 6rem 'Open Sans', sans-serif;
	letter-spacing: 4px;
	letter-spacing: 0.4rem;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
	.hero h1 {
		font-size: 4.5rem;
	}
}
.hero h3 {
	font: normal 28px 'Open Sans', sans-serif;
	font: normal 2.8rem 'Open Sans', sans-serif;
	letter-spacing: 2px;
	letter-spacing: 0.2rem;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}
@media only screen and (max-width: 800px) {
	.hero h3 {
		font-size: 2.4rem;
	}
}
.hero .btn {
	padding: 20px 46px;
	padding: 2rem 4.6rem;
	color: #fff;
	letter-spacing: 2px;
}
@media only screen and (max-width: 800px) {
	.hero .btn {
		padding: 1.5rem 4rem;
	}
}
/* !Hero sekcija */

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}
.packages .grid li {
	padding: 50px;
	padding: 5rem;
	flex-basis: 50%;
	text-align: center;
}
@media only screen and (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 2rem;
	}
}
.packages .grid li i {
	color: #8c9eff;
	font-size: 60px;
	font-size: 6rem;
}
.packages .grid li h4 {
	font-size: 40px;
	font-size: 4rem;
	margin: 30px 0;
	margin: 3rem 0;
}
.testimonials .quote {
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
	margin: 4rem 0 2.5rem;
}
@media only screen and (max-width: 800px) {
	.testimonials .quote {
		font-size: 1.8rem;
		margin: 1.5rem 0;
	}
}
@media only screen and (max-width: 800px) {
	.testimonials .author {
		font-size: 1.4rem;
	}
}
.contact form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 50%;
}
.contact form input {
	padding: 15px;
	padding: 1.5rem;
	margin-right: 30px;
	margin-right: 3rem;
	font-size: 18px;
	font-size: 1.8rem;
	color: #555;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-radius: 3px;
	border: none;
}
@media only screen and (max-width: 1100px) {
	.contact form input {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin: 0 0 2rem 0;
	}
}
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	background-color: #607d8b;
	color: aliceblue;
	padding: 20px 0;
	padding: 2rem 0;
}
@media only screen and (max-width: 1100px) {
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
footer ul li {
	margin-left: 16px;
	margin-left: 1.6rem;
}
@media only screen and (max-width: 1100px) {
	footer ul li {
		margin: 0 0.8rem;
	}
}
footer p {
	text-transform: uppercase;
	font-size: 14px;
	font-size: 1.4rem;
	opacity: 0.6;
	-ms-flex-item-align: center;
	align-self: center;
}
@media only screen and (max-width: 1100px) {
	footer p {
		text-align: center;
		margin-bottom: 2rem;
	}
}
footer a:link,
footer a:visited {
	color: white;
}
footer a:link i,
footer a:visited i {
	font-size: 25px;
	font-size: 2.5rem;
}
