@-webkit-keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@-webkit-keyframes slideFadeIn {
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes slideFadeIn {
	to {
		margin-top: 0;
		opacity: 1;
	}
}

.subtitle,
.title {
	font: 700 32px 'Open Sans', sans-serif;
	font: 700 3.2rem 'Open Sans', sans-serif;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	font: 700 24px 'Open Sans', sans-serif;
	font: 700 2.4rem 'Open Sans', sans-serif;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

*,
::after,
::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 1.15;
}

[type='checkbox'],
[type='radio'],
body,
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #777;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 150%;
	margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hr,
main,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #3f51b5;
	border: 0;
	height: 3px;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 250px;
}

a {
	-webkit-text-decoration-skip: objects;
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline-width: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
hr,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type='checkbox'],
[type='radio'] {
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

@media only screen and (max-width: 800px) {
	body {
		padding: 0;
	}
}

section {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 100px 80px;
	padding: 10rem 8rem;
}

@media only screen and (max-width: 800px) {
	section {
		padding: 5rem 2rem;
	}
}

li,
nav ul {
	list-style: none;
}

section p {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 2;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	margin-top: 1rem;
	max-width: 775px;
	max-width: 77.5rem;
	padding: 0 20px;
	padding: 0 2rem;
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.h__flex,
footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.h__flex--column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.h__flex--space_between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.h__flex--center,
.h__flex--space_around,
.h__flex--space_between {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.h__flex--space_around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

.h__flex--center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.h__w50 {
	width: 50%;
}

.h__w100 {
	width: 100%;
}

.h__center-text {
	text-align: center !important;
}

.h_txt--small {
	font-size: 1.3rem;
}

.h__txt--regular {
	font-size: 1.6rem;
}

.h__text--fz25 {
	font-size: 2.5rem;
}

.h__text--bold {
	font-weight: 700;
}

.h__hidden {
	display: none;
	visibility: hidden;
}

.h__mb--big {
	margin-bottom: 80px !important;
	margin-bottom: 8rem !important;
}

@media only screen and (max-width: 800px) {
	.h__mb--big {
		margin-bottom: 5rem !important;
	}
}

.h__mb--medium {
	margin-bottom: 40px !important;
	margin-bottom: 4rem !important;
}

@media only screen and (max-width: 800px) {
	.h__mb--medium {
		margin-bottom: 3rem !important;
	}
}

.h__mb--small {
	margin-bottom: 15px !important;
	margin-bottom: 1.5rem !important;
}

.h__mt--big {
	margin-top: 80px !important;
	margin-top: 8rem !important;
}

.h__mt--medium {
	margin-top: 40px !important;
	margin-top: 4rem !important;
}

.h__mt--small {
	margin-top: 15px !important;
	margin-top: 1.5rem !important;
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.grid .person_info,
.grid li {
	background-clip: content-box;
	background-position: center;
	background-size: cover;
	padding: 20px;
	padding: 2rem;
}

.grid li {
	height: 350px;
	height: 35rem;
}

.grid .person_info {
	height: 30rem;
}

.person_info p {
	margin-bottom: 0;
}

.grid li span,
.navigation {
	background: #030132;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(rgba(251, 251, 251, 0)),
		color-stop(0%, rgba(3, 1, 50, 0.7))
	);
	background: linear-gradient(0deg, rgba(251, 251, 251, 0) 0, rgba(3, 1, 50, 0.7) 0);
	color: #fff;
	width: 100%;
}

.grid li span {
	display: inline-block;
	font-size: 1.3rem;
	font-weight: 700;
	padding: 1rem 2rem;
}

.grid .small {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

@media only screen and (max-width: 1100px) {
	.grid .small {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.grid .small {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
}

.grid .large {
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
}

@media only screen and (max-width: 1100px) {
	.grid .large {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.grid .large {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
}

.navigation {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-animation: fadeIn 1s 0.5s forwards;
	animation: fadeIn 1s 0.5s forwards;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 5rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	opacity: 0;
	padding: 2rem 10rem 0;
	position: fixed;
	z-index: 50;
}

.navigation h2,
.navigation nav {
	height: 100%;
}

header h2 a,
nav a {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	opacity: 0.8;
}

nav a {
	font-size: 2rem;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.btn,
header h2 a:hover,
nav a:hover {
	opacity: 1;
}

@media only screen and (max-width: 800px) {
	header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 2rem 5rem;
	}
}

header h2 a {
	font-size: 2.8rem;
}

@media only screen and (max-width: 800px) {
	header h2 {
		padding-bottom: 1.5rem;
	}
}

header nav ul {
	margin-right: -15px;
	margin-right: -1.5rem;
}

header li {
	margin: 0 15px;
	margin: 0 1.5rem;
}

.btn {
	background-color: #3f51b5;
	border-radius: 4px;
	color: #f0f8ff;
	display: block;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1.8rem 4.2rem;
	text-align: center;
	text-transform: uppercase;
	width: 220px;
}

.btn-container,
header nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.btn-container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.hero {
	color: #fff;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	.hero {
		min-height: 60rem;
	}
}

.hero__bg-gradient,
.hero__bg-img {
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.hero__bg-img {
	background-color: #80a3db;
	background-image: url(./images/summer_beach.webp);
}

.hero__bg-gradient {
	background: #020024;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#020024),
		to(rgba(0, 212, 255, 0))
	);
	background: linear-gradient(0deg, #020024 0, rgba(0, 212, 255, 0) 100%);
}

.hero__content {
	-webkit-animation: 1s slideFadeIn 1s forwards;
	animation: 1s slideFadeIn 1s forwards;
	margin-top: 100px;
	margin-top: 10rem;
	opacity: 0;
}

.hero h1 {
	font: 700 60px 'Open Sans', sans-serif;
	font: 700 6rem 'Open Sans', sans-serif;
	letter-spacing: 4px;
	letter-spacing: 0.4rem;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 800px) {
	.hero h1 {
		font-size: 4.5rem;
	}
}

.hero h3 {
	font: 28px 'Open Sans', sans-serif;
	font: 2.8rem 'Open Sans', sans-serif;
	letter-spacing: 2px;
	letter-spacing: 0.2rem;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

@media only screen and (max-width: 800px) {
	.hero h3 {
		font-size: 2.4rem;
	}
}

.hero .btn {
	color: #fff;
	letter-spacing: 2px;
	padding: 20px 46px;
	padding: 2rem 4.6rem;
}

@media only screen and (max-width: 800px) {
	.hero .btn {
		padding: 1.5rem 4rem;
	}
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.quote {
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
	margin: 4rem 0 2.5rem;
}

@media only screen and (max-width: 800px) {
	.quote {
		font-size: 1.8rem;
		margin: 1.5rem 0;
	}
}

form {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50%;
}

form input,
form textarea {
	border: #ccc 1px solid;
	border-radius: 3px;
	color: #555;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	padding: 15px;
	padding: 1.5rem;
}

form textarea {
	width: 100%;
}

form input[type='button'] {
	color: #fff;
	margin-top: 1rem;
}

.form__group,
footer,
form {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form__group {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 0.5rem;
	width: 100%;
}

.form__group label {
	font-size: 18px;
	margin-right: 5px;
	width: 30%;
}

.form__group a,
.form__group input,
.form__group select {
	height: 100%;
	width: 70%;
}

.form__group select {
	font-size: 1.8rem;
}

.greska,
.uspeh {
	color: #dc143c;
	font-size: 1.4rem;
	font-weight: 700;
}

.uspeh {
	color: green;
}

.grid_img span {
	opacity: 0;
	-webkit-transition: opacity 0.5 ease-in;
	transition: opacity 0.5 ease-in;
}

@media only screen and (max-width: 1100px) {
	form input {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin: 0 0 2rem;
	}
}

footer {
	background-color: #607d8b;
	color: #f0f8ff;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 20px 0;
	padding: 2rem 0;
}

@media only screen and (max-width: 1100px) {
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

footer ul li {
	margin-left: 16px;
	margin-left: 1.6rem;
}

@media only screen and (max-width: 1100px) {
	footer ul li {
		margin: 0 0.8rem;
	}
}

footer p {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	font-size: 14px;
	font-size: 1.4rem;
	opacity: 0.6;
	text-transform: uppercase;
}

@media only screen and (max-width: 1100px) {
	footer p {
		margin-bottom: 2rem;
		text-align: center;
	}
}

footer a:link,
footer a:visited {
	color: #fff;
}

footer a:link i,
footer a:visited i {
	font-size: 25px;
	font-size: 2.5rem;
}

.person_img {
	height: 20rem;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 20rem;
}

.person_img:hover {
	position: relative;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 9;
}
